<ion-view view-title="Preroll">
  <ion-content class="padding">
    <h1>Let's share this moment. It's life in :30 seconds. Ready set go.</h1>
    <div>
      To: TODO
    </div>
    <div class="list list-inset">
      <label class="item item-input item-floating-label">
        <span class="input-label">What should we call it?</span>
        <input type="text" placeholder="What should we call it?">
        <i class="icon ion-location placeholder-icon"></i>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Where are you?</span>
        <input type="text" placeholder="Where are you?">
      </label>
    </div>
    <div class="button-bar">
      <a class="button button-outline icon-left ion-social-facebook">Facebook</a>
      <a class="button button-outline icon-left ion-social-twitter">Twitter</a>
    </div>
    <div>
      Your chosen soundtrack:
    </div>
  </ion-content>
</ion-view>